<div data-controller="user-settings">
  <div class="row">
    <!-- Sidebar -->
    <div class="col-md-3">
      <div class="list-group">
        <button class="list-group-item list-group-item-action" 
                data-action="click->user-settings#toggleEmailForm">
          Change Email
        </button>
        <button class="list-group-item list-group-item-action" 
                data-action="click->user-settings#togglePasswordForm">
          Change Password
        </button>
      </div>
    </div>

    <!-- Main Content Area -->
    <div class="col-md-9">
      <!-- Email Change Form -->
      <div id="email-change-form" class="form-section" data-user-settings-target="emailForm">
        <h3>Change Email</h3>
        <%= form_for(current_user, url: user_registration_path, method: :put) do |f| %>
          <div class="mb-3">
            <%= f.label :email, "New Email" %>
            <%= f.email_field :email, class: "form-control", required: true %>
          </div>
          <div class="mb-3">
            <%= f.label :current_password, "Current Password" %>
            <%= f.password_field :current_password, class: "form-control", required: true %>
          </div>
          <div class="mb-3">
            <%= f.submit "Update Email", class: "btn btn-primary" %>
          </div>
        <% end %>
      </div>


      <!-- Password Change Form -->
      <div id="password-change-form" class="form-section d-none" data-user-settings-target="passwordForm">
        <h3>Change Password</h3>
        <%= form_for(current_user, url: user_registration_path, method: :put) do |f| %>
          <div class="mb-3">
            <%= f.label :current_password, "Current Password" %>
            <%= f.password_field :current_password, class: "form-control", required: true %>
          </div>
          <div class="mb-3">
            <%= f.label :password, "New Password" %>
            <%= f.password_field :password, class: "form-control", required: true %>
          </div>
          <div class="mb-3">
            <%= f.label :password_confirmation, "Confirm New Password" %>
            <%= f.password_field :password_confirmation, class: "form-control", required: true %>
          </div>
          <div class="mb-3">
            <%= f.submit "Update Password", class: "btn btn-primary" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
