<div data-controller="user-settings">
  <div class="row">
    <!-- Sidebar -->
    <div class="col-md-3" style="margin-bottom: 20px;">
      <div class="list-group">

        <!-- Sidebar Navigation -->
        <button class="list-group-item list-group-item-action" 
                data-action="click->user-settings#toggleRubitsSection">
          Rubits
        </button>
        <button class="list-group-item list-group-item-action" 
                data-action="click->user-settings#toggleCommentsSection">
          Comments
        </button>
        <button class="list-group-item list-group-item-action" 
                data-action="click->user-settings#toggleLikedRubitsSection">
          Liked Rubits
        </button>

        <button class="list-group-item list-group-item-action" 
                data-action="click->user-settings#toggleEmailForm">
          Change Email
        </button>
        <button class="list-group-item list-group-item-action" 
                data-action="click->user-settings#togglePasswordForm">
          Change Password
        </button>
        <!-- Logout Button -->
        <%= button_to "Logout", destroy_user_session_path, method: :delete,
                                                           class: "list-group-item list-group-item-action text-danger",
                                                           data: { turbo: "false" } %>

        <!-- Delete Account Button -->
        <%= button_to "Delete Account", user_registration_path, method: :delete,
                                                                data: { confirm: "Are you sure you want to delete your account? This action cannot be undone.", turbo: "false" },
                                                                class: "list-group-item list-group-item-action text-danger" %>

      </div>
    </div>


    <!-- Main Content Area -->
    <div class="col-md-9">
      <!-- Rubits Section -->
      <div id="rubits-section" class="content-section"  data-user-settings-target="rubitsSection">
        <h4>Your Rubits</h4>
        <% if @rubits.any? %>
          <% @rubits.each do |rubit| %>
          <%= render partial: "rubits/rubit", locals: { rubit: rubit } %>
          <% end %>
        <% else %>
          <p>You haven't posted any rubits yet.</p>
        <% end %>
      </div>

      <!-- Comments Section -->
      <div id="comments-section" class="content-section d-none" data-user-settings-target="commentsSection">
        <h4>Your Comments</h4>

        <% if @comments.any? %>
          <% @comments.each do |rubit| %>
            <%= render partial: "rubits/rubit_with_context", locals: { rubit: rubit } %>
          <% end %>
        <% else %>
          <p>You don't have any comments yet.</p>
        <% end %>
      </div>

      <!-- Liked Rubits Section -->
      <div id="liked-rubits-section" class="content-section d-none"  data-user-settings-target="likedRubitsSection">
        <h4>Your Liked Rubits</h4>
        <% if @liked_rubits.any? %>
          <% @liked_rubits.each do |rubit| %>
            <%= render partial: "rubits/rubit", locals: { rubit: rubit } %>
          <% end %>
        <% else %>
          <p>You haven't liked any rubits yet.</p>
        <% end %>
      </div>

      <!-- Email Change Form -->
      <div id="email-change-form" class="form-section d-none" data-user-settings-target="emailForm">
        <h4>Change Email</h4>
        <%= form_for(current_user, url: user_registration_path, method: :put) do |f| %>
          <div class="mb-3">
            <%= f.label :email, "New Email" %>
            <%= f.email_field :email, class: "form-control", required: true %>
          </div>
          <div class="mb-3">
            <%= f.label :current_password, "Current Password" %>
            <%= f.password_field :current_password, class: "form-control", required: true %>
          </div>
          <div class="mb-3">
            <%= f.submit "Update Email", class: "btn btn-primary" %>
          </div>
        <% end %>
      </div>

      <!-- Password Change Form -->
      <div id="password-change-form" class="form-section d-none" data-user-settings-target="passwordForm">
        <h4>Change Password</h4>
        <%= form_for(current_user, url: user_registration_path, method: :put) do |f| %>
          <div class="mb-3">
            <%= f.label :current_password, "Current Password" %>
            <%= f.password_field :current_password, class: "form-control", required: true %>
          </div>
          <div class="mb-3">
            <%= f.label :password, "New Password" %>
            <%= f.password_field :password, class: "form-control", required: true %>
          </div>
          <div class="mb-3">
            <%= f.label :password_confirmation, "Confirm New Password" %>
            <%= f.password_field :password_confirmation, class: "form-control", required: true %>
          </div>
          <div class="mb-3">
            <%= f.submit "Update Password", class: "btn btn-primary" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
