<div class="row">
  <%= render 'shared/trending_users' %>

  <div class="col-md-6">
    <%= render 'rubits/rubit_form', parent_rubit: nil %>
    <hr>

    <!-- Only rubits go inside here -->
    <div id="rubits-list" data-controller="infinite-scroll">
      <%= render partial: 'rubits/rubit', collection: @rubits %>

      <% if @rubits.next_page %>
        <%= link_to "Load more", rubits_path(page: @rubits.next_page),
                    data: { turbo_action: 'replace', turbo_stream: true, action: 'infinite-scroll#loadMore' },
                    id: 'load-more-link', class: 'd-block text-center my-4' %>
      <% end %>
    </div>
  </div>

  <%= render 'shared/trending_hashtags' %>
</div>
