<div class="row">
  <%= render "shared/trending_users" %>
  <div  class="col-md-6">
    <div id="new_rubit_form_root">
      <%= render "form", parent_rubit: nil %>
    </div>
    <hr>
    <div id="rubits-list" data-controller="infinite-scroll">
      <div id="rubits-list-root">
        <%= render partial: "rubits/rubit", collection: @rubits %>
      </div>
      <% if @rubits.next_page %>
        <%= link_to "", rubits_path(page: @rubits.next_page),
                    data: { turbo_action: "replace",
                            action: "infinite-scroll#loadMore",
                            "infinite-scroll-target": "loadMoreLink" },
                    id: "load-more-link", class: "d-block text-center my-4" %>
      <% end %>
    </div>
  </div>
  <%= render "shared/trending_hashtags" %>
</div>
