<div class="row">
  <!-- Trending Users Section on the Left -->
  <div class="col-md-3 d-flex flex-column align-items-center">
    <h3 style="font-size: 1.2rem;">Trending Users</h3>
    <ul style="font-size: 0.9rem; list-style: none; padding: 0;">
      <% @trending_users.each do |user| %>
        <li>
          <%= link_to user.username, user_path(user) %>
          - <%= user.total_likes %> likes
        </li>
      <% end %>
    </ul>
  </div>

  <!-- Main Rubit Detail + Comments in the Center -->
  <div class="col-md-6">

    <!-- Display the single rubit (parent rubit) -->
    <div class="card mt-3 ml-3">
      <div class="card-body">
        <h5 class="card-title">@<%= @rubit.user.email %></h5>
        <p class="card-text"><%= @rubit.content %></p>
        <p class="text-muted small mb-0"><%= @rubit.created_at.strftime("%b %e, %Y %l:%M %p") %></p>

        <!-- Form to create a child rubit (comment) -->
        <%= form_with(model: [@rubit, Rubit.new], url: rubits_path, local: true) do |form| %>
          <div class="mb-3 mt-3">
            <%= form.text_area :content, rows: 2, class: "form-control", placeholder: "Write a comment..." %>
            <%= form.hidden_field :parent_rubit_id, value: @rubit.id %>
            <%= form.submit "Comment", class: "btn btn-sm btn-primary mt-1" %>
          </div>
        <% end %>

        <!-- Recursively render child rubits (comments) in order by created_at -->
        <%= render partial: 'rubits/child_rubit', collection: @rubit.child_rubits.order(created_at: :desc), as: :rubit %>
      </div>
    </div>

    <%= link_to 'Back to Feed', rubits_path, class: 'btn btn-secondary mt-3' %>
  </div>


  <div class="col-md-3 d-flex flex-column align-items-center">
    <h3 style="font-size: 1.2rem;">Trending Hashtags</h3>
    <ul style="font-size: 0.9rem; list-style: none; padding: 0;">
      <% @trending_hashtags.each do |hashtag| %>
        <li>
          <%= link_to "##{hashtag.name}", hashtag_path(hashtag) %>
          - <%= hashtag.count_likes %> likes
        </li>
      <% end %>
    </ul>
  </div>


  <!-- Trending Hashtags Section on the Right -->

</div>
