<div class="row">

  <%= render 'shared/trending_users' %>

  <div class="col-md-6">
      <%= render 'rubits/rubit', rubit: @rubit %>

    <div id="rubits-list-<%= @rubit.id %>" class="ms-4">
      <%= render partial: 'rubits/rubit', collection: @rubit.child_rubits, as: :rubit %>
    </div>
  </div>


  <%= render 'shared/trending_hashtags' %>
</div>
